* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 100px 0 100px;
}

.container-edu {
  padding: 0 100px 1200px 100px;
}

nav ul,
.main-info-section,
.work-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body {
  background-color: #252627;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar {
  background-color: #181818;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
  color: #707070;
}

li {
  list-style: none;
  margin-left: 30px;
}

a {
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50px;
  transform: translateY(-50%);
}

.main-info-section {
  height: calc(100vh - 81.6px);
}

.text {
  margin-top: 120px;
}

.text h1 {
  color: #ffffff;
  font-size: 3rem;
  cursor: context-menu;
}

.text span {
  display: inline-block;
}

span:hover {
  color: #48cfad;
  transition: all 0.5s;
}

span.name {
  color: #ed5565;
}

span.m-left {
  margin-left: -10px;
}

.text p {
  letter-spacing: 3px;
  word-spacing: 5px;
  font-size: 0.8rem;
}

.text a {
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #ed5565;
  color: #ed5565;
  font-size: 0.8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: 0.5s;
  display: inline-block;
}

.text a:hover {
  color: #ffffff;
}

.text a::before {
  content: "";
  background-color: #ed5565;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.5s;
}

.text a:hover::before {
  height: 100%;
}

.profile-image img {
  width: 450px;
  margin-top: 50px;
}

.about {
  height: 100vh;
  margin-top: 100px;
}

.about h1,
.work h1 {
  font-size: 10rem;
  z-index: 0;
  opacity: 0.4;
}

.about-me-info {
  max-width: 900px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.about-me-info p {
  font-size: 1.3rem;
  color: #bebebe;
}

.about-me-info h1 {
  font-size: 2.3rem;
  color: #bebebe;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
  margin-top: 30px;
}

.contact-me-info {
  max-width: 900px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.contact-me-info p {
  font-size: 1.3rem;
  color: #bebebe;
  text-align: center;
}

.contact-me-info h1 {
  font-size: 2.3rem;
  color: #bebebe;
  text-align: center;
}

.contact-me-info p:nth-child(2),
.contact-me-info p:last-child {
  margin-top: 30px;
}
.about img {
  width: 300px;
  position: relative;
  top: -300px;
  left: calc(100% - 100px);
  right: calc(100% - 100px);
  transform: translateX(calc(-100% + 100px));
}

/*timeline effect*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  box-sizing: border-box;
}

/* The circles on the timeline */
.container-timeline::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -11px;
  background-color: white;
  border: 4px solid #ed5565;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left-timeline {
  left: 0;
}

/* Place the container to the right */
.right-timeline {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-timeline::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 31px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right-timeline::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-timeline::after {
  left: -11px;
}

/* The actual content */
.content-timeline {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.timeline-left {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline-left::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 5%;
  margin-left: -3px;
}

/* Container around content */
.container-timeline-left {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
  box-sizing: border-box;
}

/* The circles on the timeline */
.container-timeline-left::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 5%;
  background-color: white;
  border: 4px solid #ed5565;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}
/* Place the container to the right */
.right-timeline-left {
  left: 5%;
}

/* Add arrows to the right container (pointing left) */
.right-timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-timeline-left::after {
  left: -11px;
}

/* The actual content */
.content-timeline-left {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left-timeline::after,
  .right-timeline::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right-timeline {
    left: 0%;
  }
  /* Place the timelime to the left */
  .timeline-left::after {
    left: 31px;
  }

  /* Full-width containers */
  .container-timeline-left {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container-timeline-left::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left-timeline-left::after,
  .right-timeline-left::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right-timeline-left {
    left: 0%;
  }
} /*timeline effect end*/

.skills {
  height: 100vh;
}

.skills h1,
.contact h1 {
  text-align: right;
  font-size: 10rem;
  opacity: 0.4;
}

.skills-info {
  font-size: 1.4rem;
  color: #bebebe;
  max-width: 800px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
}

.html {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 40px;
}

div[class^="tag-"] {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
  width: 170px;
  height: 30px;
  background-color: #1785a7;
  margin-top: 3px;
}
div[class^="tag-"] p {
  color: #ffffff;
  text-align: left;
  padding-left: 10px;
  font-size: 1.1rem;
  padding-top: 3px;
}

.progressbar {
  position: relative;
  width: 600px;
  height: 20px;
  border: 2px solid #48cfad;
  border-radius: 20px;
  margin: 7px;
}

div[class^="bar-html"] {
  position: relative;
  width: calc(600px - 20%);
  height: 12px;
  background-color: #48cfad;
  border: 2px;
  border-radius: 20px;
  transform: translateX(-1.3%) translateY(-43%);
  margin: 7px;
  /*position: absolute;
  background-color: #48cfad;
  height: 10px;
  border-radius: 20px;
  margin: 2.7px;*/
}

div[class^="bar-css"] {
  position: relative;
  width: calc(600px - 20%);
  height: 12px;
  background-color: #48cfad;
  border: 2px;
  border-radius: 20px;
  transform: translateX(-1.3%) translateY(-43%);
  margin: 7px;
  /*position: absolute;
  background-color: #48cfad;
  height: 10px;
  border-radius: 20px;
  margin: 2.7px;*/
}

div[class^="bar-python"] {
  position: relative;
  width: calc(600px - 30%);
  height: 12px;
  background-color: #48cfad;
  border: 2px;
  border-radius: 20px;
  transform: translateX(-1.4%) translateY(-43%);
  margin: 7px;
  /*position: absolute;
  background-color: #48cfad;
  height: 10px;
  border-radius: 20px;
  margin: 2.7px;*/
}

div[class^="bar-em"] {
  position: relative;
  width: calc(600px - 30%);
  height: 12px;
  background-color: #48cfad;
  border: 2px;
  border-radius: 20px;
  transform: translateX(-1.4%) translateY(-43%);
  margin: 7px;
  /*position: absolute;
  background-color: #48cfad;
  height: 10px;
  border-radius: 20px;
  margin: 2.7px;*/
}

div[class^="bar-reactjs"] {
  position: relative;
  width: calc(600px - 30%);
  height: 12px;
  background-color: #48cfad;
  border: 2px;
  border-radius: 20px;
  transform: translateX(-1.4%) translateY(-43%);
  margin: 7px;
  /*position: absolute;
  background-color: #48cfad;
  height: 10px;
  border-radius: 20px;
  margin: 2.7px;*/
}
.bar-html,
.bar-css,
.bar-python,
.bar-em,
.bar-reactjs {
  width: 0;
}

.work-category button {
  text-transform: capitalize;
  border: 3px solid #ed5565;
  padding: 15px 30px;
  border-radius: 50px;
  color: #ed5565;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: #252627;
  outline: none;
  cursor: pointer;
}

div[class^="category-"] {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

.work a {
  justify-self: center;
  position: relative;
  display: inline-block;
}

.work-category .active {
  background-color: #ed5565;
}

button.active {
  color: #ffffff;
}

.work a img {
  width: 350px;
  justify-self: center;
}

div.hideCategory {
  display: none;
}

.showCategory {
  display: block;
}

.contact {
  margin-top: 50px;
}

form input,
form textarea {
  display: block;
  width: 500px;
  padding: 20px;
  background-color: #252627;
  border: 3px solid #707070;
  margin: 20px 0;
  outline: none;
  font-size: 1.2rem;
  color: #ffffff;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

from input:last-child {
  width: 150px;
  background-color: #ed5565;
  border: none;
  cursor: pointer;
}

footer hr {
  border: 2px solid #707070;
  margin-top: 80px;
}

footer p {
  text-align: center;
  color: #707070;
  font-size: 1.2rem;
  padding: 30px 0;
}

#myProgress {
  width: 600px;
  position: relative;
  height: 30px;
  border: 2px solid #48cfad;
  margin: 7px;
}

#myBar {
  width: 0%;
  max-width: 590px;
  height: 22px;
  background-color: #48cfad;
  text-align: center;
  line-height: 22px;
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 2px;
  margin-right: 2px;
  color: white;
}

#myBarcss {
  width: 0%;
  max-width: 590px;
  height: 22px;
  background-color: #48cfad;
  text-align: center;
  line-height: 22px;
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 2px;
  margin-right: 2px;
  color: white;
}

#myBarpython {
  width: 0%;
  max-width: 590px;
  height: 22px;
  background-color: #48cfad;
  text-align: center;
  line-height: 22px;
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 2px;
  margin-right: 2px;
  color: white;
}

#myBarc {
  width: 0%;
  max-width: 590px;
  height: 22px;
  background-color: #48cfad;
  text-align: center;
  line-height: 22px;
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 2px;
  margin-right: 2px;
  color: white;
}

#myBarreact {
  width: 0%;
  max-width: 590px;
  height: 22px;
  background-color: #48cfad;
  text-align: center;
  line-height: 22px;
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 2px;
  margin-right: 2px;
  color: white;
}

/*position: relative;
  width: calc(600px - 20%);
  height: 12px;
  background-color: #48cfad;
  border: 2px;
  border-radius: 20px;
  transform: translateX(-1.3%) translateY(-43%);
  margin: 7px;*/
